html, body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.createdBy {
    margin-top: 100px;
}

#bg-up {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background-image: -webkit-linear-gradient(97deg, white 35%, #431781 35%);
    z-index:-1;
}

#bg-down {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 900px;
    background-image: -webkit-linear-gradient(95deg, #431781 65%, white 65%);
    z-index:-1;
}
.single-page {
    margin-top: 0;
    margin-bottom: 200px;  
}
.single-page a {
    background-color: #fad132;
    color: black;
    border: none;
    margin: 20px 0;
}

.sidebar {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top:0;
    left:0;
}

.sidebar .content {
    background-color: white;
    padding: 20px;
    width: 20vw;
    height: 100vh;
}

.sidebar a {
    display: block;
    width: 100%;
}
.btn {
    border: none;
}
#employ-button {
    color: #fad132!important;
    background-color: black;
    border: none;
}
#employ-button:hover, .modal-button {
    background-color: #fad132;
    color: black!important;
}
.close-button {
    background-color: #fad132;
    color: black!important;
    font-weight: 600;
}
#train-button:hover, .assess-button:hover, .top-button:hover, .back-button:hover, .modal-button:hover, .close-button:hover {
    color: #fad132!important;
    background-color: black;
}
.menu-button {
    padding: 10px;
}
#showSidebar {
    color: #fad132;
}
.bg-image {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 75%, 0 100%);
    clip-path: polygon(0 1%, 100% 1%, 100% 75%, 0 100%);
    z-index: 0;
}

.navbar-right li a, .navbar-left button {
    margin: 15px;
    background-color: #fad132;
    color: black !important;
    font-weight: 600;
    padding: 10px;
}

.flex-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.black {
    color: black;
    font-weight: 600;
}

.yellow {
    color: #fad132;
    font-weight: 600;
}

.welcome {
    color: #fad132;
    font-size: 16px;
    font-weight: 600;
}

.navbar-brand {
    margin: 5px auto; 
}
.navbar-logo {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px 60px;
}

.navbar-inverse {
    background-color: rgba(67, 23, 129, 0.9);
    border-bottom: 1px solid black;
    z-index: 1;
}
.white {
    color: white;
}
.brainsterLink {
    color: #fad132;
    text-decoration: underline;
}
.brainsterLink:hover {
    color: black;
}
.jumbotron {
    background: none;
    color: white;
}
.jumbotron h1 {
    font-size: 46px;
    font-weight: 600;
}
.jumbotron a {
    background-color: #fad132;
    color: black;
    margin-top: 30px;
}

.linkGame:hover {
    text-decoration: none;
}

.smallIcon {
    float: right;
    width: 15%;
    margin: 10px;
    padding: 10px;
    background-color: #26292b;
}
.category {
    color: #40c3cf;
    font-weight: 600;
}
.thumbnail {
    padding: 0;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.well {
    background-color: #ececec;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 30px 0px;
}


#cardImage {
    width: 358px;
    height: 239px;
}
.thumbnail .caption {
    padding: 10px 20px;
}

footer {
    border-top: 1px solid black;
    width: 100%;
    color: white;
    padding: 25px;
    text-align: center;
    display: flex;
    align-items: center;
}
footer i {
    color: #fad132;
}
footer a {
    color: white;
    margin: 0px 10px;
}

footer ul {
    margin: auto 0px;
    padding-inline-start: 0px;
}
footer li {
    display: inline;
    margin: 0px 10px;
}
footer a:hover {
    color: #fad132;
    text-decoration: none;
}
@media only screen and (max-width: 768px) {
    .sidebar .content {
        width: 50vw;
    }

    footer li {
        margin: 0;
        padding: 0;
        font-size: 11px;
    }
}

@media only screen and (max-width: 600px) {
    .sidebar .content {
        width: 90vw;
    }

    .first {
        order: 2;
    }
    .second {
        order: 3;
    }
    .third {
        order: 1;
    }
    footer {
        flex-direction: column;
    }
    .thumbnail #cardImage {
        display: none;
    }
    .thumbnail {
        height: 150px;
    }
    footer ul {
        margin: 20px 0px;
    }
    footer {
        border: none;
    }
    .jumbotron h1 {
        font-size: 26px;
    }
    .jumbotron p {
        font-size: 14px;
    }
    .well {
        flex-direction: column;
    }
}